body {
    background-color:#d6e2f0;
    width: 375px;
    text-align: center;
    margin: 100px auto;
}

.container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.img {
    width: 340px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    padding: 0 20px;

}

h2 {
    
    font-weight: bold;
}

p {
    color: #7b879d;
}
