body {
    background-color:#d6e2f0;
    width: 375px;
    text-align: center;
    margin: 100px auto;
}

.container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.img {
    width: 340px;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    padding: 0 20px;

}

h2 {
    
    font-weight: bold;
}

p {
    color: #7b879d;
}





/* body {
    font-family: 'Outfit', sans-serif;
    background-color:#d6e2f0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 375px;
    margin: 100px auto;
}

.container {
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid red;
    text-align: center;
    width: 100%;
    height: 100%;


}

.img {
    border-radius: 10px;
    width: 70%;
    object-fit: cover;
}
.text {
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

h2 {
    padding-top: 10px;
    font-weight: 700px;
}

p {
    color: #7b879d;
    padding-bottom: 20px;
    font-weight: 400px;
} */